/*========== Colors ==========*/
$accent: #d31400;
$accent-alt: #be1502;
$text: #495057;
$title: #212529;
$body-color: #fefbfb;
$section: #fafafa;
$container-color: #ffffff;
$tint: #fdf1f0;

/*========== Font and typography ==========*/
$body-font: "Open Sans", sans-serif;

$biggest-font-size: 2.25rem; // 36px
$h1-font-size: 1.5rem; // 24
$h2-font-size: 1.25rem; // 20
$h3-font-size: 1rem; // 16
$normal-font-size: 0.938rem; // 15
$small-font-size: 0.813rem; // 13
$smaller-font-size: 0.75rem; // 12

// FONT WEIGHTS
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
